<div class="row">
  <h3>Here is your itinerary!</h3>
  <p>Departing from <%= @start_city %> at <%= @start_stop.stop_time %>.</p>
  <p>Arriving at <%= @end_city %> at <%= @end_time %> give or take a few hours.</p>
  <p>Traveling on <%= @train %>.
  <p>Enjoy your travels!</p>
</div>
