

<form class="form-group-customers" action='/customers/routes/new' method='post'>
<div class="form-control">
  <label for='city_id'>Depart From</label>
  <select id='city_id' name='city_id' type='text'>
    <% @cities.each() do |city| %>
      <option value="<%= city.id()%>"> <%= city.name() %> </option>
    <% end %>
  </select>
</div>
<div class="form-control">
  <label for='city_id'>Destination</label>
  <select id='city_id_2' name='city_id_2' type='text'>
    <% @cities.each() do |city| %>
      <option value="<%= city.id()%>"> <%= city.name() %> </option>
    <% end %>
  </select>
</div>
<div class="form-control">
  <label for='train_id'>Select Train</label>
  <select id='train_id' name='train_id' type='text'>
    <% @trains.each() do |train| %>
      <option value="<%= train.id()%>"> <%= train.line() %> </option>
    <% end %>
  </select>
</div>
<div class="form-control" id="leaveat">
  <label for="stop_time">Leave At:</label>
  <input name="stop_time" id="stop_time" type="time">
</div>
  <button class="btn btn-default" type="submit">Buy Ticket</button>
</form>
