<h1>Here are all of your stops</h1>


<div class="employee-list">
  <% if @operator_stops != nil %>
    <div class="column col-md-3 list-group">
      <% @operator_stops.each do |stop| %>
        <a class="list-group-item" href="/stop/<%=stop.id%>"><%=stop.train_name%></a>
      <% end %>
    </div>
    <div class="column col-md-3 list-group">
      <% @operator_stops.each do |stop| %>
        <a class="list-group-item" href="/stop/<%=stop.id%>"><%=stop.city_name%></a>
      <% end %>
    </div>
    <div class="column col-md-3 list-group">
      <% @operator_stops.each do |stop| %>
        <a class="list-group-item" href="/stop/<%=stop.id%>"><%=stop.stop_time%></a>
      <% end %>
    </div>
    <div class="column col-md-2 list-group">
      <% @operator_stops.each do |stop| %>
        <form action="/employees/<%=@operator.id%>/stop/<%=stop.id%>" method="post">
          <input name="_method" type="hidden" value="delete">
          <button class="list-group-item btn btn-danger" type="submit">X</button>
        </form>
      <% end %>
    </div>
  <% end %>
  <a class="btn btn-default" role="button" href="/employees/<%=@operator.id%>/stop/new">Add New Stop</a>
</div>


<div class="row employee-list">
  <% if @trains != nil %>
  <div class="column col-md-6 list-group">
    <div class="list-title">
      <h3>Trains in Database</h3>
    </div>
   <% @trains.each do |train| %>
     <a class="list-group-item"><%= train.line %></a>
   <% end %>
  <% end %>
  <form action="/employees/clear_trains" method="post">
    <button class="list-group-item btn btn-danger" type="submit">Clear Trains</button>
  </form>
   <a class="btn btn-default" role="button" href="/employees/<%=@operator.id%>/train/new">Add New Train</a>
  </div>


  <% if @cities != nil %>
  <div class="list-title">
    <h3>Cities in Database</h3>
  </div>
  <div class="column col-md-6 list-group">
   <% @cities.each do |city| %>
     <a class="list-group-item"><%= city.name %></a>
   <% end %>
  <% end %>
    <form action="/employees/clear_cities" method="post">
      <button class="list-group-item btn btn-danger" type="submit">Clear Cities</button>
    </form>
   <a class="btn btn-default" role="button" href="/employees/<%=@operator.id%>/city/new">Add New City</a>
  </div>
</div>

<a class="btn btn-default" role="button" href="/employees">Back</a>
