<h1>Here are all of your stops</h1>


<div class="employee_stops_list"
  <% if @stops != nil %>
    <div class="column col-md-3 list-group">
      <% @stops.each do |stop| %>
        <a class="list-group-item" href="/stop/<%=stop.id%>"><%=stop.train_name%></a>
      <% end %>
    </div>
    <div class="column col-md-3 list-group">
      <% @stops.each do |stop| %>
        <a class="list-group-item" href="/stop/<%=stop.id%>"><%=stop.city_name%></a>
      <% end %>
    </div>
    <div class="column col-md-3 list-group">
      <% @stops.each do |stop| %>
        <a class="list-group-item" href="/stop/<%=stop.id%>"><%=stop.stop_time%></a>
      <% end %>
    </div>
    <div class="column col-md-2 list-group">
      <% @stops.each do |stop| %>
        <form action="/employee/<%=stop.id%>" method="post">
          <input name="_method" type="hidden" value="delete">
          <button class="list-group-item btn btn-danger" type="submit">X</button>
        </form>
      <% end %>
    </div>
  <% end %>
</div>

<div class="btn-group">
  <a class="btn btn-default" role="button" href="/employees/<%=@operator.id%>/train/new">Add New Train</a>
  <a class="btn btn-default" role="button" href="/employees/<%=@operator.id%>/city/new">Add New City</a>
  <a class="btn btn-default" role="button" href="/employees/<%=@operator.id%>/stop/new">Add New Stop</a>
</div>
